ul li{
    list-style: none;
}

li p{
    padding: .6rem;
}

li p.done{
    text-decoration-line: line-through;
}

li p:hover{
    background-color: #ECC1A1;
    color: white;
    border-bottom: 1px solid #58626C;
}

div i{
    font-size: 1.2rem;
    padding: .4rem;
}

ul{
    padding: 1rem;
    background-color: #F5F1EE;
    max-width: 700px;
    margin: 0 auto;
}

div input{
    border-style: none;
    border-radius: 3px;
}

div button{
    border-style: none;
    color: white;
    background-color: #58626C;
    border-radius: 10px;
    padding: .4rem;
    justify-self: end;
}

